<!DOCTYPE html>
<html>
<head>
  <%= blade_runner_head %>
  <meta charset="utf-8">
  <title>Blade Runner: QUnit tests</title>
  <link rel="stylesheet" type="text/css" href="/blade/qunit.css">
  <script src="/blade/qunit.js"></script>
</head>
<body>
  <%= blade_runner_body %>
  <div id="tests">
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
  </div>
</body>
</html>
