<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Blade Runner</title>
  <link rel="stylesheet" type="text/css" href="qunit/qunit.css">
  <script src="http://localhost:<%= runner.config.port %>/faye/client.js"></script>
  <script src="qunit/qunit.js"></script>
  <script src="blade.js"></script>
  <% runner.config.test_scripts.each do |script| %>
    <script src="<%= script %>"></script>
  <% end %>
</head>
<body>
  <div id="tests">
    <div id="qunit"></div>
    <div id="qunit-fixture"></div>
  </div>
</body>
</html>
